{% extends "base.html" %}
{% load static %}

{% block bodyContent %}
    <div id="mm-page">
        <div class="mm-page__inner-wrapper">
            <a class="tertiary-btn back-btn" href="{% url 'landing-page' %}">&#9666; Zurück</a>
            <h2>Login</h2>
            {% if user.is_authenticated %}
                <h4>Sie sind bereits eingeloggt!</h4>
            {% else %}
                <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="form__btn-wrapper">
                    <button type="submit" class="btn">Login</button>
                    <a href="{% url 'signup' %}" class="secondary-btn">Sign Up</a>
                </div>
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}