{% extends 'home.html' %}

{% block title %}Ring detail{% endblock %}

{% block content %}
<h2>Ring detail</h2>

    <table>
    <tr>
        <td><b>Bezeichnung :</b></td>
        <td>{{ that_one_ring.bezeichnung }}<br></td>
    </tr>
    <tr>
        <td><b>Preis :</b></td>
        <td>{{ that_one_ring.preis }} € <br></td>
    </tr>
    <tr>
        <td><b>Material :</b></td>
        <td>{{ that_one_ring.material }}<br></td>
    </tr>
    <tr>
        <td><b>Ringbreite :</b></td>
        <td>{{ that_one_ring.ring_Breite }}<br></td>
    </tr>
    </table>

    <br>
    <a href="{% url 'ring-list' %}">Back to all Rings</a>
{% endblock %}