{% extends 'base.html' %}
{% load static %}

{% block bodyContent %}
    <div class="list__title-banner">
        {% if query_origin %}
            <h3>{{ product_list|length }} Suchergebnisse für:</h3>
            <h2>{{ query_text }}</h2>
        {% else %}
            <h2>{{ query_text }}</h2>
        {% endif %}
    </div>


    {% if product_list %}
        <ul class="list__product-list-container">
            {% for elem in product_list %}
                <li>
                    <a href="{% url 'ring_detail' pk=elem.id %}">
                        <img src="{{ elem.product_img_url.url }}" alt="{{ elem.bezeichnung }} Bild">
                        <h4>{{ elem.bezeichnung }}</h4>
                        <div class="list__rating-wrapper">
                            {% if elem.get_amount_of_ratings > 0 %}
                                <div class="total-product-rating-container" data-average-rating="{{ elem.get_rating }}">
                                <div class="total-star-elem total-1">
                                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px"><g><rect fill="none" height="24" width="24" x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g></svg>
                                </div>
                                <div class="total-star-elem total-2">
                                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px"><g><rect fill="none" height="24" width="24" x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g></svg>
                                </div>
                                <div class="total-star-elem total-3">
                                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px"><g><rect fill="none" height="24" width="24" x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g></svg>
                                </div>
                                <div class="total-star-elem total-4">
                                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px"><g><rect fill="none" height="24" width="24" x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g></svg>
                                </div>
                                <div class="total-star-elem total-5">
                                    <svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" height="24px" viewBox="0 0 24 24" width="24px"><g><rect fill="none" height="24" width="24" x="0"></rect><polygon points="14.43,10 12,2 9.57,10 2,10 8.18,14.41 5.83,22 12,17.31 18.18,22 15.83,14.41 22,10"></polygon></g></svg>
                                </div>
                                <p class="total-rating-amount">({{ elem.get_amount_of_ratings }})</p>
                            </div>
                            {% endif %}
                        </div>
                        <h5>{{ elem.preis }}</h5>
                    </a>
                {% if can_access %}
                    <a href="{% url 'product-delete' pk=elem.id %}">
                    <button type="submit" name="requestDelete">Delete</button>
                    </a>
                {% endif %}
                </li>
        {% endfor %}
        </ul>

    {% else %}
        <h3 class="list__no-result-text">Es wurden Keine passenden Produkte gefunden!</h3>
    {% endif %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}