@use  "../mixins";

//temp settings for better workflow
#pp-page {
  position: relative;
  margin: 20px 0;
  @include mixins.flex-box($align-items: flex-start);

  h2 {
      font-family: "Playfair Display", serif;
      font-weight: 100;
      font-size: 3rem;
      line-height: 50px;
      margin-bottom: 12px;
      position: relative;
      z-index: 2;
  }

  & > div:first-of-type {
    flex: 1 1 25em;
    min-width: 50%;
    min-height: calc(100vh - 136.65px);
    padding: 0 25px 50px 20px;
    @include mixins.flex-box($flex-direction: column, $justify-content: space-around, $align-items: flex-start);

    .total-product-rating-container {
      position: relative;
      z-index: 2;
    }

    .pp-img-wrapper {
      @include mixins.flex-box();
      position: relative;
      z-index: 1;
      width: 100%;
      max-width: 700px;
      margin-top: -50px;

      img {
        max-width: 600px;
        width: 100%;
      }
    }
  }

  & > div:nth-of-type(2) {
    flex: 1 1 25em;
    min-width: 50%;
    @include mixins.flex-box($flex-direction: column);
    min-height: calc(100vh - 136.65px);

    .padding-wrapper {
      background-color: var(--Rose);
      width: 75%;
      margin-top: 50px;
      max-width: 575px;
      padding: 15px 20px;
      min-height: calc(80vh - 136.65px);
      @include mixins.flex-box($flex-direction: column, $align-items: flex-start);

      ul {
        margin-bottom: 20px;

        li {
          @include mixins.flex-box($justify-content: flex-start);
          margin: 7px 0;

          p {
            font-size: 1.2rem;
            font-weight: 100;
            line-height: 25px;

            &:first-of-type {
              font-weight: 700;
              text-transform: uppercase;
              letter-spacing: .8px;
              margin-right: 7px;
            }
          }
          &[data-name="desc-field"] {
            margin-top: 20px;

            p:first-of-type {
              width: 100%;
            }

            p:last-of-type {
              max-width: 500px;
            }
          }
        }
      }

      .img-seperator {
        width: 100%;
        @include mixins.flex-box();

        img {
          width: 70%;
        }
      }

      form {
        width: 100%;
        @include mixins.flex-box();

        &:first-of-type {
          button {
            padding: 10px;
            width: 50%;
            min-width: 150px;
          }
        }

        &:last-of-type {
          margin-top: 30px;
          margin-bottom: 10px;
        }
      }
    }

  }

  .product-rating-main-container {
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    @include mixins.flex-box($flex-direction: column);

    .rating-desc {
      font-weight: 100;
    }
  }
}

//product rating
.product-rating-wrapper, .total-product-rating-container {
  width: 120px;
  margin: 10px 0;
  @include mixins.flex-box($justify-content: flex-start);

  .star-elem, .total-star-elem {
    cursor: pointer;

    svg {
      fill: none;
      stroke: #fba200;
      stroke-width: 1.5px;

      rect {
        stroke: none;
      }
    }

    &.selected svg {
      fill: #fba200 !important;
    }
  }
}

.total-product-rating-container {
  width: 150px;

  .total-star-elem {
    cursor: default;
  }

  p {
    margin-left: 3px;
    margin-top: -10px;
    font-size: .9rem;
  }
}

.product-rating-submit-wrapper {
  display: none;

  label[for="product-rating-comment"] {
    display: block;
    margin-top: 20px;
    text-transform: uppercase;
    font-size: .9rem;
    letter-spacing: .9px;
    margin-bottom: 7px;
  }

  button {
    display: block;
    margin-top: 15px;
    padding: 10px;
    width: 100%;
  }
}

#pp-page .product-rating-main-container {
  .ratings-list {
    max-width: 750px;
    width: 100%;

    li {
      position: relative;
      border: 1px solid #c5c5c5;
      margin: 12px 0;
      padding: 20px;
      border-radius: 12px;

      & > div:first-of-type {
        margin-bottom: 20px;

        p {
          color: #838383;
          font-size: 1rem;
          font-weight: 100;
        }
      }
    }
  }

  .edit-rating-textarea {
    width: 100%;
    font-family: "europa", sans-serif;
  }

  .action-edit-save {
    display: none;
    background-color: var(--Green);

    &:hover {
      background-color: #0ad264;
    }
  }

  .ev_report_amount {
    position: absolute;
    top: 0;
    left: 0;
    background: #bf0000;
    padding: 2px 20px;
    font-size: .7rem;
    border-radius: 50px;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .8px;
  }

  .evaluate_btn_wrapper {
    @include mixins.flex-box($justify-content: flex-end);
      margin-top: 15px;

    .evaluate_btn {
      text-transform: uppercase;
      letter-spacing: .8px;
      font-size: .8rem;
      font-family: "europa", sans-serif;
      cursor: pointer;
      border: none;
      border-radius: 15px;
      background: none;

      &:last-of-type {
        color: #b60505;
      }
    }
  }
}

//backend bar
.backend-nav-bar-container {
  width: 100%;
  height: 35px;
  padding: 0 20px;
  margin-top: -25px;
  background-color: var(--DarkColor);
  overflow: hidden;
  @include mixins.flex-box($justify-content: space-between);

  h3 {
    padding: 0;
    color: #fff;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .8px;
  }

  & > div:last-of-type {
    height: 100%;

    form {
      height: 100%;

      button {
        height: 100%;
        border: none;
        background-color: transparent;
        cursor: pointer;
        min-width: 65px;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: .8px;
        padding: 0 10px;
        transition: background-color .3s ease-out;
        font-family: 'Europa', sans-serif;
        font-weight: 100;

        &:hover {
          background-color: #bf0000;
        }
      }
    }
  }
}
#edit-page-container {
  position: relative;
  min-height: calc(100vh - (136.65px + 35px));
}

.saved-banner {
  display: none;
  width: 100%;
  background-color: #0ad264;
  padding: 10px 20px;
  text-align: center;

  p {
    color: #fff;
    font-weight: 100;
  }
}

.spinner-wrapper {
  @include mixins.flex-box();
  display: none;
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(38, 38, 38, 0.51);

  img {
    width: 50px;
  }
}


@media screen and (max-width: 400px) {
  #pp-page > div:first-of-type {
    h2 {
      font-size: 2.5rem;
    }

    .pp-img-wrapper {
      margin-top: -10px;
    }
  }
}

@media screen and (max-width: 600px) {
  #pp-page > div:nth-of-type(2) .padding-wrapper {
    width: 95%;
    min-height: calc(100vh - 136.65px);
  }
}