{% extends 'base.html' %}
{% load static %}

{% block bodyContent %}
    <div id="edit-page-container" class="cs-pr-create-page">
        {% if not can_create %}
            You are not authorized to access this segment.<br><br>
        {% endif %}
        {% if can_create %}
            <h2 id="product-title">Neues Produkt</h2>
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="cs-form-btn-wrapper">
                    <button type="submit" name="create" class="btn">Produkt hinzufügen</button>
                    <a href="{% url 'start' %}" class="tertiary-btn">Zurück zur Übersicht</a>
                </div>
            </form>
        {%endif%}
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script>
            {% endif %}
        {% endfor %}
    {% endif %}

{% endblock %}
