{% extends 'base.html' %}
{% load static %}

{% block bodyContent %}
    <div id="mm-page" class="cs-pr-delete-page">
        <div class="mm-page__inner-wrapper">
            <h2>Produkt Löschen</h2>
            {% if not can_delete %}
                <p>You are not authorized to delete products.</p>
            {% endif %}
            {% if can_delete %}
                <b style="color:brown"> Soll das Produkt "{{ product.bezeichnung }}" wirklich gelöscht werden</b><br>
                <form method="POST">
                    {% csrf_token %}
                    <button type="submit" name="delete" class="btn">Löschen</button>
                    <a href="{% url 'list' %}" class="secondary-btn">Zurück</a>
                </form>
            {% endif %}
        </div>
    </div>

    {% if messages %}
        {% for message in messages %}
            {% if message.tags %}
                <script>alert("{{ message }}")</script>
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}