{% extends 'base.html' %}
{% load static %}

{% block bodyContent %}
    <div id="mm-page">
        <div class="mm-page__inner-wrapper cart-page">
            <a class="tertiary-btn back-btn" href="{% url 'landing-page' %}">&#9666; Zurück</a>
            <h2>Warenkorb</h2>
            {% if cart_is_empty %}
                <p class="empty-cart-text">Ihr Warenkorb ist zurzeit leer.</p>
                <a href="{% url 'landing-page' %}" class="secondary-btn">Weiter shoppen</a>
            {% else %}
                <ul id="cart-container">
                    {% for item in cart_items %}
                        <li class="cart-elem">
                            <div>
                                <div class="product-img-wrapper">
                                    <img src="{{ item.product_img_url.url }}" alt="Produkt Bild">
                                </div>
                                <div class="product-info-wrapper">
                                    <a href="{% url 'ring_detail' pk=item.product_id %}" class="product-name">{{ item.product_name }}</a>
                                    <div class="product-quantity-price-wrapper">
                                        <p>{{ item.quantity }}x</p>
                                        <p>{{ item.price }} €</p>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <div>
                                    <button class="cq_rem_btn" name="change_quantity_rem" value="{{ item.product_id }}">-</button>
                                    <button class="cq_add_btn" name="change_quantity_add" value="{{ item.product_id }}">+</button>
                                </div>
                                <div>
                                    <button class="remove_item_btn" name="remove_item" value="{{ item.product_id }}">X</button>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
                <div class="cart-total-wrapper">
                    <h4>Gesamt:</h4>
                    <h4>{{ total }} €</h4>
                </div>
                <form method="POST" class="cart-final-btn-wrapper">
                    {% csrf_token %}
                    <button type="submit" name="empty" class="secondary-btn">Warenkorb leeren</button>
                    <button type="submit" name="pay" class="btn inverted">Bezahlen</button>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
