@use "mixins";

header {
  margin-bottom: 25px;

  .header__elem-wrapper {
    padding: 20px;
    @include mixins.flex-box($justify-content: space-between);

    &.banner-wrapper {
      margin-bottom: 5px;

      & > div {
        @include mixins.flex-box();
      }

      & > div:first-of-type {
        flex: 1 1 20em;
        padding: 0 25px 0 70px;
        justify-content: flex-start;

        img {
          max-width: 240px;
        }
      }

      & > div:last-of-type {
        flex: 1 1 30em;

        img {
          max-width: 70px;
        }
      }

      .elem-wrapper__icon-wrapper {
        padding-right: 20px;
        justify-content: flex-end;

        img {
          width: 30px;
        }
        a {
          margin: 0 4px;
        }
      }
    }

    #search-container {
      margin-right: 20px;
      position: relative;

      label {
        display: none;
      }

      input {
        border: none;
        border-radius: 50px;
        background-color: #e7e7e7;
        height: 28px;
        padding: 0 15px;
        width: 220px;
      }

      button {
        border: none;
        background: none;
        cursor: pointer;
        width: 25px;
        position: absolute;
        right: 10px;
        z-index: 5;

        img {
          width: 25px;
        }
      }

      #search-select {
        position: absolute;
        height: 100%;
        border-radius: 50px;
        border: none;
        width: 17px;
        right: 35px;
        cursor: pointer;
        font-size: 0;

        option {
          font-size: 1rem;
        }
      }

      .select-icon-preview {
        @include mixins.flex-box();
        position: absolute;
        height: 100%;
        left: 180px;
        top: -5px;

        img {
          display: none;
          width: 9px;
          filter: invert(15%);

          &.shown {
            display: block;
          }
        }
      }
    }
  }

  .header__navbar {
    padding: 7px 0;
    background: var(--Green);

    ul {
      @include mixins.flex-box();

      li {
        margin: 0 10px;

        a {
          text-transform: uppercase;
          font-weight: 300;
          font-size: 1.1rem;
          letter-spacing: 0.5px;
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

}

@media screen and (max-width: 860px) {
  header .header__elem-wrapper {
    height: 150px;
    flex-flow: column nowrap;
    justify-content: center;
    padding-bottom: 5px;

    &.banner-wrapper {
      margin-bottom: 0;

      .elem-wrapper__icon-wrapper {
        padding-right: 0;
      }
    }
  }
  header .header__elem-wrapper.banner-wrapper > div:first-of-type {
    padding: 0;
    justify-content: center;
  }
  header .header__elem-wrapper.banner-wrapper > div {
    max-height: 70px;
  }
}

@media screen and (max-width: 400px) {
  header .header__navbar ul li {
    margin: 0 8px;
    a {
      font-size: .9rem;
    }
  }
  header .header__elem-wrapper #search-container input {
    width: 180px;
  }
}
