*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 500px;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  padding: 0;
}

.btn {
  text-decoration: none;
  background: none;
  border: 2px solid #000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 5px;
  transition: background-color .2s ease-out, color .2s ease-out;
  font-size: .8rem;
  color: #000;
  cursor: pointer;

  &:hover {
    background-color: #000;
    color: #fff;
  }

  &.inverted {
    background-color: #000;
    color: #fff;

    &:hover {
      color: #000;
      background-color: transparent;
    }
  }
}

.secondary-btn {
  background: none;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 2px 0;
  font-size: .8rem;
  color: #000;
  cursor: pointer;
  transition: color .2s ease-out, border-color .2s ease-out;

  &:hover {
    color: #484848;
    border-color: #484848;
  }
}

.tertiary-btn {
  background: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 2px 0;
  font-size: .8rem;
  color: #000;
  cursor: pointer;
  transition: color .2s ease-out;

  &.left {
    position: absolute;
    top: 15px;
    left: 20px;
  }

  &.spaced {
    margin: 20px;
  }

  &:hover {
    color: #484848;
  }
}


.action_btn {
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  background-color: var(--DarkColor);
  transition: background-color .2s ease-out;

  &:hover {
    background-color: #757575;
  }

  svg {
    width: 80%;
  }
}

.action_btn_wrapper {
  position: absolute;
  top: 15px;
  right: 15px;
}