*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 500px;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  padding: 0;
}