*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 500px;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  padding: 0;
}

:root {
  font-family: "europa", sans-serif;
  font-size: 1rem;
  --DarkColor: #212121;
  --Green: #0e793e;
  --Gold: #ffecc1;
  --Silver: #eeedf2;
  --Rose: #f0e2da;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 300;
}

h4 {
  font-size: 1.2rem;
  font-weight: 300;
}

p {
  font-size: 1.1rem;
}

#main-banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 600px;
  margin: -25px 0 30px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;
  background: var(--Gold) url("../../../static/assets/banner/main-banner-elem.png") no-repeat right;
  background-size: contain;
}
#main-banner .text-wrapper {
  z-index: 2;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#main-banner .text-wrapper h2 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 40px;
}
#main-banner .text-wrapper a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: 2px solid #000;
  padding: 15px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
#main-banner .text-wrapper a:hover {
  background-color: #000;
  color: #fff;
}
#main-banner .text-wrapper img {
  filter: brightness(0);
}
#main-banner > img {
  position: absolute;
  z-index: 1;
  width: 700px;
  left: 40%;
  max-width: unset;
}

#triple-banner-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#triple-banner-container .banner-wrapper {
  position: relative;
  flex: 1 0 20em;
  width: 33%;
  max-width: 500px;
  min-height: 400px;
  margin: 7px;
  text-decoration: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#triple-banner-container .banner-wrapper h3 {
  z-index: 2;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 0.7px;
  color: #fff;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
}
#triple-banner-container .banner-wrapper::before {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../../static/assets/banner/jmonds-banner-frame.png") no-repeat center;
  background-size: contain;
  filter: brightness(0) invert(1) drop-shadow(0px 2px 1px rgba(45, 45, 45, 0.48));
}
#triple-banner-container .banner-wrapper:first-of-type {
  background: var(--Silver) url("../../../static/assets/banner/jmonds-main-banner-1.png") no-repeat center;
  background-size: cover;
}
#triple-banner-container .banner-wrapper:nth-of-type(2) {
  background: var(--Gold) url("../../../static/assets/banner/jmonds-main-banner-3.png") no-repeat center;
  background-size: cover;
}
#triple-banner-container .banner-wrapper:last-of-type {
  background: var(--Rose) url("../../../static/assets/banner/jmonds-main-banner-2.png") no-repeat center;
  background-size: cover;
}
#triple-banner-container .banner-wrapper img {
  width: 100px;
  margin-top: -5px;
  filter: drop-shadow(0px 1px 2px rgba(45, 45, 45, 0.48));
}

@media screen and (min-width: 1350px) and (max-width: 1500px) {
  #main-banner > img {
    width: 430px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1349px) {
  #main-banner > img {
    width: 430px;
    right: -3%;
    left: unset;
    top: 35%;
  }
}
@media screen and (max-width: 700px) {
  #main-banner {
    background-size: cover;
    background-position: 15%;
  }
  #main-banner > img {
    width: 300px;
    right: -3%;
    left: unset;
    top: 54%;
  }
}
@media screen and (max-width: 650px) {
  #main-banner {
    padding: 0;
  }
  #main-banner .text-wrapper {
    width: 100%;
    padding: 0 20px;
  }
  #main-banner .text-wrapper img {
    max-width: 95%;
  }
  #main-banner .text-wrapper h2 {
    font-size: 5rem;
    text-align: center;
    line-height: 95px;
  }
  #main-banner .text-wrapper a {
    background-color: var(--Rose);
  }
  #main-banner > img {
    width: 240px;
    top: 65%;
  }
}
header {
  margin-bottom: 25px;
}
header .header__elem-wrapper {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
header .header__elem-wrapper.banner-wrapper {
  margin-bottom: 5px;
}
header .header__elem-wrapper.banner-wrapper > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
header .header__elem-wrapper.banner-wrapper > div:first-of-type {
  flex: 1 1 20em;
  padding: 0 25px 0 70px;
  justify-content: flex-start;
}
header .header__elem-wrapper.banner-wrapper > div:first-of-type img {
  max-width: 240px;
}
header .header__elem-wrapper.banner-wrapper > div:last-of-type {
  flex: 1 1 30em;
}
header .header__elem-wrapper.banner-wrapper > div:last-of-type img {
  max-width: 70px;
}
header .header__elem-wrapper.banner-wrapper .elem-wrapper__icon-wrapper {
  padding-right: 20px;
  justify-content: flex-end;
}
header .header__elem-wrapper.banner-wrapper .elem-wrapper__icon-wrapper img {
  width: 30px;
}
header .header__elem-wrapper.banner-wrapper .elem-wrapper__icon-wrapper a {
  margin: 0 4px;
}
header .header__elem-wrapper #search-container {
  margin-right: 20px;
  position: relative;
}
header .header__elem-wrapper #search-container label {
  display: none;
}
header .header__elem-wrapper #search-container input {
  border: none;
  border-radius: 50px;
  background-color: #e7e7e7;
  height: 28px;
  padding: 0 15px;
  width: 220px;
}
header .header__elem-wrapper #search-container button {
  border: none;
  background: none;
  cursor: pointer;
  width: 25px;
  position: absolute;
  right: 10px;
  z-index: 5;
}
header .header__elem-wrapper #search-container button img {
  width: 25px;
}
header .header__navbar {
  padding: 7px 0;
  background: var(--Green);
}
header .header__navbar ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
header .header__navbar ul li {
  margin: 0 10px;
}
header .header__navbar ul li a {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 860px) {
  header .header__elem-wrapper {
    height: 150px;
    flex-flow: column nowrap;
    justify-content: center;
    padding-bottom: 5px;
  }
  header .header__elem-wrapper.banner-wrapper {
    margin-bottom: 0;
  }
  header .header__elem-wrapper.banner-wrapper .elem-wrapper__icon-wrapper {
    padding-right: 0;
  }

  header .header__elem-wrapper.banner-wrapper > div:first-of-type {
    padding: 0;
    justify-content: center;
  }

  header .header__elem-wrapper.banner-wrapper > div {
    max-height: 70px;
  }
}
@media screen and (max-width: 400px) {
  header .header__navbar ul li {
    margin: 0 8px;
  }
  header .header__navbar ul li a {
    font-size: 0.9rem;
  }

  header .header__elem-wrapper #search-container input {
    width: 180px;
  }
}

/*# sourceMappingURL=style.css.map */
