@charset "UTF-8";
*, *::before, *::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  min-height: 100vh;
}

html, body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 500px;
}

ul {
  list-style: none;
}

h1, h2, h3, h4, p, ul, li, a {
  margin: 0;
  padding: 0;
}

.btn {
  text-decoration: none;
  background: none;
  border: 2px solid #000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 5px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
  font-size: 0.8rem;
  color: #000;
  cursor: pointer;
}
.btn:hover {
  background-color: #000;
  color: #fff;
}
.btn.inverted {
  background-color: #000;
  color: #fff;
}
.btn.inverted:hover {
  color: #000;
  background-color: transparent;
}

.secondary-btn {
  background: none;
  text-decoration: none;
  border: none;
  border-bottom: 2px solid #000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 2px 0;
  font-size: 0.8rem;
  color: #000;
  cursor: pointer;
  transition: color 0.2s ease-out, border-color 0.2s ease-out;
}
.secondary-btn:hover {
  color: #484848;
  border-color: #484848;
}

.tertiary-btn {
  background: none;
  border: none;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding: 2px 0;
  font-size: 0.8rem;
  color: #000;
  cursor: pointer;
  transition: color 0.2s ease-out;
}
.tertiary-btn.left {
  position: absolute;
  top: 15px;
  left: 20px;
}
.tertiary-btn:hover {
  color: #484848;
}

.action_btn {
  cursor: pointer;
  border-radius: 50%;
  border: none;
  width: 30px;
  height: 30px;
  background-color: var(--DarkColor);
  transition: background-color 0.2s ease-out;
}
.action_btn:hover {
  background-color: #757575;
}
.action_btn svg {
  width: 80%;
}

.action_btn_wrapper {
  position: absolute;
  top: 15px;
  right: 15px;
}

:root {
  font-family: "europa", sans-serif;
  font-size: 1rem;
  --DarkColor: #212121;
  --Green: #0e793e;
  --Gold: #ffecc1;
  --Silver: #eeedf2;
  --Rose: #f0e2da;
}

h1 {
  font-size: 2.75rem;
}

h2 {
  font-size: 1.75rem;
}

h3 {
  font-size: 1.4rem;
  font-weight: 300;
}

h4 {
  font-size: 1.2rem;
  font-weight: 300;
}

p {
  font-size: 1.1rem;
}

header {
  margin-bottom: 25px;
}
header .header__elem-wrapper {
  padding: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
header .header__elem-wrapper.banner-wrapper {
  margin-bottom: 5px;
}
header .header__elem-wrapper.banner-wrapper > div {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
header .header__elem-wrapper.banner-wrapper > div:first-of-type {
  flex: 1 1 20em;
  padding: 0 25px 0 70px;
  justify-content: flex-start;
}
header .header__elem-wrapper.banner-wrapper > div:first-of-type img {
  max-width: 240px;
}
header .header__elem-wrapper.banner-wrapper > div:last-of-type {
  flex: 1 1 30em;
}
header .header__elem-wrapper.banner-wrapper > div:last-of-type img {
  max-width: 70px;
}
header .header__elem-wrapper.banner-wrapper .elem-wrapper__icon-wrapper {
  padding-right: 20px;
  justify-content: flex-end;
}
header .header__elem-wrapper.banner-wrapper .elem-wrapper__icon-wrapper img {
  width: 30px;
}
header .header__elem-wrapper.banner-wrapper .elem-wrapper__icon-wrapper .pp-icon-img-wrapper {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #000;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
header .header__elem-wrapper.banner-wrapper .elem-wrapper__icon-wrapper .pp-icon-img-wrapper img {
  height: 100%;
  width: auto;
}
header .header__elem-wrapper.banner-wrapper .elem-wrapper__icon-wrapper a {
  margin: 0 4px;
}
header .header__elem-wrapper.banner-wrapper .elem-wrapper__icon-wrapper a.cart-icon {
  position: relative;
}
header .header__elem-wrapper.banner-wrapper .elem-wrapper__icon-wrapper a.cart-icon p {
  position: absolute;
  top: -2px;
  right: -5px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  font-size: 0.65rem;
  color: #fff;
  background-color: var(--Green);
  opacity: 0.8;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
header .header__elem-wrapper #search-container {
  margin-right: 20px;
  position: relative;
}
header .header__elem-wrapper #search-container label {
  display: none;
}
header .header__elem-wrapper #search-container input {
  border: none;
  border-radius: 50px;
  background-color: #e7e7e7;
  height: 28px;
  padding: 0 15px;
  width: 220px;
}
header .header__elem-wrapper #search-container button {
  border: none;
  background: none;
  cursor: pointer;
  width: 25px;
  position: absolute;
  right: 10px;
  z-index: 5;
}
header .header__elem-wrapper #search-container button img {
  width: 25px;
}
header .header__elem-wrapper #search-container #search-select {
  position: absolute;
  height: 100%;
  border-radius: 50px;
  border: none;
  width: 17px;
  right: 35px;
  cursor: pointer;
  font-size: 0;
}
header .header__elem-wrapper #search-container #search-select option {
  font-size: 1rem;
}
header .header__elem-wrapper #search-container .select-icon-preview {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 100%;
  left: 180px;
  top: -5px;
}
header .header__elem-wrapper #search-container .select-icon-preview img {
  display: none;
  width: 9px;
}
header .header__elem-wrapper #search-container .select-icon-preview img.shown {
  display: block;
}
header .header__navbar {
  padding: 7px 0;
  background: var(--Green);
}
header .header__navbar ul {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
header .header__navbar ul li {
  margin: 0 10px;
}
header .header__navbar ul li a {
  text-transform: uppercase;
  font-weight: 300;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
  text-decoration: none;
  color: #fff;
}

@media screen and (max-width: 860px) {
  header .header__elem-wrapper {
    height: 150px;
    flex-flow: column nowrap;
    justify-content: center;
    padding-bottom: 5px;
  }
  header .header__elem-wrapper.banner-wrapper {
    margin-bottom: 0;
  }
  header .header__elem-wrapper.banner-wrapper .elem-wrapper__icon-wrapper {
    padding-right: 0;
  }

  header .header__elem-wrapper.banner-wrapper > div:first-of-type {
    padding: 0;
    justify-content: center;
  }

  header .header__elem-wrapper.banner-wrapper > div {
    max-height: 70px;
  }
}
@media screen and (max-width: 400px) {
  header .header__navbar ul li {
    margin: 0 8px;
  }
  header .header__navbar ul li a {
    font-size: 0.9rem;
  }

  header .header__elem-wrapper #search-container input {
    width: 180px;
  }
}
#main-banner {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 600px;
  margin: -25px 0 30px 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
  padding-left: 10%;
  background: var(--Gold) url("../../../static/assets/banner/main-banner-elem.png") no-repeat right;
  background-size: contain;
}
#main-banner .text-wrapper {
  z-index: 2;
  max-width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#main-banner .text-wrapper h2 {
  font-family: "Playfair Display", serif;
  font-size: 4rem;
  font-weight: 300;
  margin-bottom: 40px;
}
#main-banner .text-wrapper a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  border: 2px solid #000;
  padding: 15px;
  transition: background-color 0.2s ease-out, color 0.2s ease-out;
}
#main-banner .text-wrapper a:hover {
  background-color: #000;
  color: #fff;
}
#main-banner .text-wrapper img {
  filter: brightness(0);
}
#main-banner > img {
  position: absolute;
  z-index: 1;
  width: 700px;
  left: 40%;
  max-width: unset;
}

#triple-banner-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#triple-banner-container .banner-wrapper {
  position: relative;
  flex: 1 0 20em;
  width: 33%;
  max-width: 500px;
  min-height: 400px;
  margin: 7px;
  text-decoration: none;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#triple-banner-container .banner-wrapper h3 {
  z-index: 2;
  font-weight: 900;
  text-transform: uppercase;
  font-size: 6rem;
  letter-spacing: 0.7px;
  color: #fff;
  text-shadow: 0 4px 3px rgba(0, 0, 0, 0.4), 0 8px 13px rgba(0, 0, 0, 0.1), 0 18px 23px rgba(0, 0, 0, 0.1);
}
#triple-banner-container .banner-wrapper::before {
  z-index: 2;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../../../static/assets/banner/jmonds-banner-frame.png") no-repeat center;
  background-size: contain;
  filter: brightness(0) invert(1) drop-shadow(0px 2px 1px rgba(45, 45, 45, 0.48));
}
#triple-banner-container .banner-wrapper:first-of-type {
  background: var(--Silver) url("../../../static/assets/banner/jmonds-main-banner-1.png") no-repeat center;
  background-size: cover;
}
#triple-banner-container .banner-wrapper:nth-of-type(2) {
  background: var(--Gold) url("../../../static/assets/banner/jmonds-main-banner-3.png") no-repeat center;
  background-size: cover;
}
#triple-banner-container .banner-wrapper:last-of-type {
  background: var(--Rose) url("../../../static/assets/banner/jmonds-main-banner-2.png") no-repeat center;
  background-size: cover;
}
#triple-banner-container .banner-wrapper img {
  width: 100px;
  margin-top: -5px;
  filter: drop-shadow(0px 1px 2px rgba(45, 45, 45, 0.48));
}

@media screen and (min-width: 1350px) and (max-width: 1500px) {
  #main-banner > img {
    width: 430px;
  }
}
@media screen and (min-width: 701px) and (max-width: 1349px) {
  #main-banner > img {
    width: 430px;
    right: -3%;
    left: unset;
    top: 35%;
  }
}
@media screen and (max-width: 700px) {
  #main-banner {
    background-size: cover;
    background-position: 15%;
  }
  #main-banner > img {
    width: 300px;
    right: -3%;
    left: unset;
    top: 54%;
  }
}
@media screen and (max-width: 650px) {
  #main-banner {
    padding: 0;
  }
  #main-banner .text-wrapper {
    width: 100%;
    padding: 0 20px;
  }
  #main-banner .text-wrapper img {
    max-width: 95%;
  }
  #main-banner .text-wrapper h2 {
    font-size: 5rem;
    text-align: center;
    line-height: 95px;
  }
  #main-banner .text-wrapper a {
    background-color: var(--Rose);
  }
  #main-banner > img {
    width: 240px;
    top: 65%;
  }
}
#mm-page {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: calc(100vh - 136.65px);
  background-color: var(--Rose);
  margin-top: -25px;
}
#mm-page .mm-page__inner-wrapper {
  position: relative;
  width: 40vw;
  min-width: 360px;
  max-width: 600px;
  background-color: #fff;
  padding: 50px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#mm-page .mm-page__inner-wrapper .back-btn {
  position: absolute;
  top: 15px;
  left: 20px;
}
#mm-page .mm-page__inner-wrapper h2 {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  font-weight: 300;
  margin-bottom: 20px;
}
#mm-page .mm-page__inner-wrapper form p {
  margin: 7px 0;
}
#mm-page .mm-page__inner-wrapper form p label {
  min-width: 85px;
  display: inline-block;
  font-weight: 300;
}
#mm-page .mm-page__inner-wrapper form p input {
  border: 1px solid #000;
}
#mm-page .mm-page__inner-wrapper form p .helptext {
  display: block;
  font-weight: 100;
  font-size: 0.8rem;
  margin: 5px 0;
}
#mm-page .mm-page__inner-wrapper form .form__btn-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#mm-page .mm-page__inner-wrapper form .form__btn-wrapper button[type=submit], #mm-page .mm-page__inner-wrapper form .form__btn-wrapper .leading-btn {
  width: 150px;
  margin: 30px 0 10px 0;
}
#mm-page .mm-page__inner-wrapper form.signup-form p label {
  min-width: 180px;
}
#mm-page .mm-page__inner-wrapper.cart-page {
  width: 95vw;
  max-width: 1000px;
  margin: 30px 0;
}

@media screen and (max-width: 600px) {
  #mm-page {
    justify-content: flex-start;
  }
  #mm-page .mm-page__inner-wrapper {
    margin-top: 50px;
  }
}
#prp-page {
  min-height: calc(100vh - 136.65px);
  margin-top: -25px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
#prp-page .user-info-container {
  flex: 1 1 40%;
  background-color: var(--Silver);
  min-width: 20em;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 20px;
  min-height: calc(100vh - 136.65px);
}
#prp-page .user-info-container > div:first-of-type {
  width: 70%;
  border-radius: 20px;
  overflow: hidden;
  margin-bottom: 20px;
}
#prp-page .user-info-container > div:first-of-type img {
  width: 100%;
}
#prp-page .user-info-container ul li {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
#prp-page .user-info-container ul li p:first-of-type {
  margin-right: 7px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 1rem;
  min-width: 95px;
}
#prp-page .user-info-container ul li p:last-of-type {
  font-weight: 100;
}
#prp-page .user-info-container .pr-btns-wrapper {
  margin-top: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#prp-page .user-info-container .pr-btns-wrapper a {
  min-width: 130px;
  text-align: center;
  display: block;
  margin-bottom: 7px;
}
#prp-page > div:last-of-type {
  flex: 1 1 60%;
  min-width: 20em;
  min-height: calc(100vh - 136.65px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 25px;
}
#prp-page > div:last-of-type h3 {
  margin-bottom: 10px;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
}
#prp-page > div:last-of-type .payments-list .payed-elem {
  background-color: var(--Gold);
  margin: 5px 0;
  padding: 7px 20px;
  border-radius: 10px;
  font-weight: 100;
}
#prp-page > div:last-of-type .payments-list p {
  font-weight: 100;
}

.list__title-banner {
  width: 100%;
  height: 180px;
  margin-top: -25px;
  padding-top: 20px;
  background: #e4e2ee url("../assets/banner/jmonds_product_archive_banner.png") no-repeat top;
  background-size: auto 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  font-family: "Playfair Display", serif;
  color: #262626;
  text-align: center;
}
.list__title-banner h2 {
  font-weight: 300;
  font-size: 2.5rem;
}
.list__title-banner h3 {
  font-weight: 100;
  font-size: 1.3rem;
}

.list__product-list-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin: 25px auto;
  max-width: 1200px;
  width: 80%;
  min-width: 400px;
}
.list__product-list-container li {
  margin: 7px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.1);
  text-align: center;
  flex: 0 0 15em;
  height: 440px;
  position: relative;
}
.list__product-list-container li a {
  text-decoration: none;
  color: var(--DarkColor);
  bottom: 49px;
  left: 50%;
  transform: translateX(-50%);
}
.list__product-list-container li a img {
  height: 280px;
  width: auto;
  max-width: 100%;
}
.list__product-list-container li a h4 {
  text-decoration: none;
  padding: 0 10px;
}
.list__product-list-container li a h5 {
  font-size: 1.3rem;
  margin: 7px 0 15px 0;
  position: absolute;
  bottom: 2px;
  left: 50%;
  transform: translateX(-50%);
}
.list__product-list-container li a h5::after {
  content: "€";
  margin-left: 3px;
}
.list__product-list-container li a .list__rating-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}
.list__product-list-container li a .list__rating-wrapper .total-product-rating-container {
  width: 100px;
  position: relative;
}
.list__product-list-container li a .list__rating-wrapper .total-product-rating-container .total-star-elem {
  cursor: pointer;
}
.list__product-list-container li a .list__rating-wrapper .total-product-rating-container .total-star-elem svg {
  width: 20px;
}
.list__product-list-container li a .list__rating-wrapper .total-product-rating-container .total-rating-amount {
  position: absolute;
  left: calc(100% + 2px);
  bottom: 8px;
  margin: 0;
}

.list__no-result-text {
  text-align: center;
  margin-top: 70px;
  padding: 0 10px;
}

@media screen and (max-width: 1000px) {
  .list__product-list-container {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .list__product-list-container {
    min-width: unset;
  }
  .list__product-list-container li {
    flex: 0 0 12em;
    height: 420px;
    margin: 5px;
  }
  .list__product-list-container li a img {
    height: 230px;
  }
}
@media screen and (max-width: 404px) {
  .list__product-list-container li {
    flex: 1 1 12em;
    margin: 10px 15px;
    height: 460px;
  }
  .list__product-list-container li a img {
    height: 315px;
  }
}
.empty-cart-text {
  margin-bottom: 25px;
}

#cart-container {
  min-width: 80%;
  margin-bottom: 10px;
}
#cart-container .cart-elem {
  padding: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid var(--Silver);
}
#cart-container .cart-elem .product-img-wrapper {
  overflow: hidden;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}
#cart-container .cart-elem .product-img-wrapper img {
  width: 95%;
}
#cart-container .cart-elem > div:first-of-type {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 5px 20px 5px 0;
}
#cart-container .cart-elem .product-info-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
#cart-container .cart-elem .product-info-wrapper .product-name {
  color: #000000;
  text-decoration: none;
  max-width: 300px;
}
#cart-container .cart-elem .product-info-wrapper .product-quantity-price-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 3px;
}
#cart-container .cart-elem .product-info-wrapper .product-quantity-price-wrapper p {
  font-weight: 300;
}
#cart-container .cart-elem .product-info-wrapper .product-quantity-price-wrapper p:first-of-type {
  margin-right: 10px;
}
#cart-container .cart-elem > div:last-of-type {
  min-width: 90px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
#cart-container .cart-elem > div:last-of-type > div button {
  border: none;
  border-radius: 50%;
  background-color: #c6c6c6;
  color: #ffffff;
  width: 25px;
  height: 25px;
  text-align: center;
  cursor: pointer;
  font-weight: 700;
  transition: background-color 0.2s ease-out;
}
#cart-container .cart-elem > div:last-of-type > div button:hover {
  background-color: var(--DarkColor);
}
#cart-container .cart-elem > div:last-of-type > div:last-of-type button {
  font-family: Arial, sans-serif;
  font-weight: 500;
}

.cart-page .cart-total-wrapper {
  min-width: 75%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.cart-page .cart-total-wrapper h4:first-of-type {
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 1.1rem;
}
.cart-page .cart-total-wrapper h4 {
  font-size: 1.2rem;
}
.cart-page .cart-final-btn-wrapper {
  min-width: 75%;
  margin-top: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.cart-page .cart-final-btn-wrapper button:first-of-type {
  font-size: 0.7rem;
}
.cart-page .cart-final-btn-wrapper button:last-of-type {
  min-width: 150px;
  margin-left: 25px;
}

@media screen and (max-width: 420px) {
  #mm-page .mm-page__inner-wrapper.cart-page {
    padding: 50px 20px;
  }

  .cart-page .cart-final-btn-wrapper {
    flex-flow: column nowrap;
    justify-content: center;
  }
  .cart-page .cart-final-btn-wrapper button:first-of-type {
    order: 2;
    margin-top: 10px;
  }
  .cart-page .cart-final-btn-wrapper button:last-of-type {
    order: 1;
    width: 80%;
    min-width: 200px;
  }
}
label[for=exp_date] {
  margin-right: 12px;
}

label[for=email-field] {
  margin-right: 24px;
}

.thank-text {
  text-align: center;
}

.form__btn-wrapper {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
.form__btn-wrapper button[type=submit], .form__btn-wrapper .leading-btn {
  width: 150px;
  margin: 30px 0 10px 0;
  text-align: center;
}

#mm-page .mm-page__inner-wrapper .pay-amount {
  color: var(--Green);
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}

#pp-page {
  position: relative;
  margin: 20px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: flex-start;
}
#pp-page h2 {
  font-family: "Playfair Display", serif;
  font-weight: 100;
  font-size: 3rem;
  line-height: 50px;
  margin-bottom: 12px;
  position: relative;
  z-index: 2;
}
#pp-page > div:first-of-type {
  flex: 1 1 25em;
  min-width: 50%;
  min-height: calc(100vh - 136.65px);
  padding: 0 25px 50px 20px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-start;
}
#pp-page > div:first-of-type .total-product-rating-container {
  position: relative;
  z-index: 2;
}
#pp-page > div:first-of-type .pp-img-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  width: 100%;
  max-width: 700px;
  margin-top: -50px;
}
#pp-page > div:first-of-type .pp-img-wrapper img {
  max-width: 600px;
  width: 100%;
}
#pp-page > div:nth-of-type(2) {
  flex: 1 1 25em;
  min-width: 50%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 136.65px);
}
#pp-page > div:nth-of-type(2) .padding-wrapper {
  background-color: var(--Rose);
  width: 75%;
  margin-top: 50px;
  max-width: 575px;
  padding: 15px 20px;
  min-height: calc(80vh - 136.65px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: flex-start;
}
#pp-page > div:nth-of-type(2) .padding-wrapper ul {
  margin-bottom: 20px;
}
#pp-page > div:nth-of-type(2) .padding-wrapper ul li {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  margin: 7px 0;
}
#pp-page > div:nth-of-type(2) .padding-wrapper ul li p {
  font-size: 1.2rem;
  font-weight: 100;
  line-height: 25px;
}
#pp-page > div:nth-of-type(2) .padding-wrapper ul li p:first-of-type {
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-right: 7px;
}
#pp-page > div:nth-of-type(2) .padding-wrapper ul li[data-name=desc-field] {
  margin-top: 20px;
}
#pp-page > div:nth-of-type(2) .padding-wrapper ul li[data-name=desc-field] p:first-of-type {
  width: 100%;
}
#pp-page > div:nth-of-type(2) .padding-wrapper ul li[data-name=desc-field] p:last-of-type {
  max-width: 500px;
}
#pp-page > div:nth-of-type(2) .padding-wrapper .img-seperator {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#pp-page > div:nth-of-type(2) .padding-wrapper .img-seperator img {
  width: 70%;
}
#pp-page > div:nth-of-type(2) .padding-wrapper form {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
#pp-page > div:nth-of-type(2) .padding-wrapper form:first-of-type button {
  padding: 10px;
  width: 50%;
  min-width: 150px;
}
#pp-page > div:nth-of-type(2) .padding-wrapper form:last-of-type {
  margin-top: 30px;
  margin-bottom: 10px;
}
#pp-page .product-rating-main-container {
  width: 100%;
  margin-top: 20px;
  padding: 15px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#pp-page .product-rating-main-container .rating-desc {
  font-weight: 100;
}

.product-rating-wrapper, .total-product-rating-container {
  width: 120px;
  margin: 10px 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
}
.product-rating-wrapper .star-elem, .product-rating-wrapper .total-star-elem, .total-product-rating-container .star-elem, .total-product-rating-container .total-star-elem {
  cursor: pointer;
}
.product-rating-wrapper .star-elem svg, .product-rating-wrapper .total-star-elem svg, .total-product-rating-container .star-elem svg, .total-product-rating-container .total-star-elem svg {
  fill: none;
  stroke: #fba200;
  stroke-width: 1.5px;
}
.product-rating-wrapper .star-elem svg rect, .product-rating-wrapper .total-star-elem svg rect, .total-product-rating-container .star-elem svg rect, .total-product-rating-container .total-star-elem svg rect {
  stroke: none;
}
.product-rating-wrapper .star-elem.selected svg, .product-rating-wrapper .total-star-elem.selected svg, .total-product-rating-container .star-elem.selected svg, .total-product-rating-container .total-star-elem.selected svg {
  fill: #fba200 !important;
}

.total-product-rating-container {
  width: 150px;
}
.total-product-rating-container .total-star-elem {
  cursor: default;
}
.total-product-rating-container p {
  margin-left: 3px;
  margin-top: -10px;
  font-size: 0.9rem;
}

.product-rating-submit-wrapper {
  display: none;
}
.product-rating-submit-wrapper label[for=product-rating-comment] {
  display: block;
  margin-top: 20px;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 0.9px;
  margin-bottom: 7px;
}
.product-rating-submit-wrapper button {
  display: block;
  margin-top: 15px;
  padding: 10px;
  width: 100%;
}

#pp-page .product-rating-main-container .ratings-list {
  max-width: 750px;
  width: 100%;
}
#pp-page .product-rating-main-container .ratings-list li {
  position: relative;
  border: 1px solid #c5c5c5;
  margin: 12px 0;
  padding: 20px;
  border-radius: 12px;
}
#pp-page .product-rating-main-container .ratings-list li > div:first-of-type {
  margin-bottom: 20px;
}
#pp-page .product-rating-main-container .ratings-list li > div:first-of-type p {
  color: #838383;
  font-size: 1rem;
  font-weight: 100;
}
#pp-page .product-rating-main-container .edit-rating-textarea {
  width: 100%;
  font-family: "europa", sans-serif;
}
#pp-page .product-rating-main-container .action-edit-save {
  display: none;
  background-color: var(--Green);
}
#pp-page .product-rating-main-container .action-edit-save:hover {
  background-color: #0ad264;
}
#pp-page .product-rating-main-container .ev_report_amount {
  position: absolute;
  top: 0;
  left: 0;
  background: #bf0000;
  padding: 2px 20px;
  font-size: 0.7rem;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
#pp-page .product-rating-main-container .evaluate_btn_wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
  margin-top: 15px;
}
#pp-page .product-rating-main-container .evaluate_btn_wrapper .evaluate_btn {
  text-transform: uppercase;
  letter-spacing: 0.8px;
  font-size: 0.8rem;
  font-family: "europa", sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 15px;
  background: none;
}
#pp-page .product-rating-main-container .evaluate_btn_wrapper .evaluate_btn:last-of-type {
  color: #b60505;
}

.backend-nav-bar-container {
  width: 100%;
  height: 35px;
  padding: 0 20px;
  margin-top: -25px;
  background-color: var(--DarkColor);
  overflow: hidden;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
.backend-nav-bar-container h3 {
  padding: 0;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 0.8px;
}
.backend-nav-bar-container > div:last-of-type {
  height: 100%;
}
.backend-nav-bar-container > div:last-of-type form {
  height: 100%;
}
.backend-nav-bar-container > div:last-of-type form button {
  height: 100%;
  border: none;
  background-color: transparent;
  cursor: pointer;
  min-width: 65px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  padding: 0 10px;
  transition: background-color 0.3s ease-out;
  font-family: "Europa", sans-serif;
  font-weight: 100;
}
.backend-nav-bar-container > div:last-of-type form button:hover {
  background-color: #bf0000;
}

#edit-page-container {
  position: relative;
  min-height: calc(100vh - (136.65px + 35px));
}

.saved-banner {
  display: none;
  width: 100%;
  background-color: #0ad264;
  padding: 10px 20px;
  text-align: center;
  position: absolute;
  top: 0;
}
.saved-banner p {
  color: #fff;
  font-weight: 100;
}

.spinner-wrapper {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  display: none;
  position: absolute;
  z-index: 999;
  width: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(38, 38, 38, 0.51);
}
.spinner-wrapper img {
  width: 50px;
}

@media screen and (max-width: 400px) {
  #pp-page > div:first-of-type h2 {
    font-size: 2.5rem;
  }
  #pp-page > div:first-of-type .pp-img-wrapper {
    margin-top: -10px;
  }

  .backend-nav-bar-container {
    justify-content: flex-end;
  }
  .backend-nav-bar-container > div:first-of-type {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  #pp-page > div:nth-of-type(2) .padding-wrapper {
    width: 95%;
    min-height: calc(100vh - 136.65px);
  }
}
#edit-page-container {
  background-color: var(--Silver);
  padding: 75px 20px 25px 20px;
  min-height: calc(100vh - 136.65px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
}
#edit-page-container.profil-edit-page {
  margin-top: -25px;
}
#edit-page-container h2 {
  font-size: 3rem;
  text-align: center;
  line-height: 50px;
  margin-bottom: 5px;
}
#edit-page-container form {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
#edit-page-container form > div {
  min-width: 310px;
  margin-bottom: 15px;
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
}
#edit-page-container form > .block-wrapper {
  flex-flow: column nowrap;
}
#edit-page-container form > .block-wrapper label {
  margin: 5px 0;
}
#edit-page-container form > .form-img-upload-wrapper {
  flex-flow: column nowrap;
}
#edit-page-container form > .form-img-upload-wrapper label {
  margin-bottom: 7px;
}
#edit-page-container form > .form-img-upload-wrapper img {
  width: 70px;
  height: 70px;
  margin-right: 7px;
  border-radius: 50%;
}
#edit-page-container form > .form-img-upload-wrapper input[type=file] {
  border: none;
}
#edit-page-container form > .pr-form-btn-wrapper {
  margin-top: 10px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
}
#edit-page-container form > .pr-form-btn-wrapper button:first-of-type {
  width: 80%;
  min-width: 200px;
  margin-bottom: 10px;
}
#edit-page-container form label {
  display: inline-block;
  min-width: 120px;
  font-weight: 500;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  margin-right: 5px;
}
#edit-page-container form input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #000000;
  padding-bottom: 5px;
  min-width: 180px;
}
#edit-page-container form textarea {
  background-color: transparent;
  border: 1px solid #000000;
  width: 100%;
  font-family: "europa", sans-serif;
  font-weight: 100;
  font-size: 0.9rem;
  padding: 5px;
}
#edit-page-container form select {
  background-color: transparent;
  border: 1px solid #000000;
  padding: 3px;
  min-width: 180px;
}

/*# sourceMappingURL=style.css.map */
