{% load static %}

<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="{% static "assets/logos/Jmonds_logo_o.svg" %}">
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet">
    <link href="{% static "style/style.css" %}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.typekit.net/jby6hqc.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static "script/jquery.cookie.js" %}"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap" rel="stylesheet">
    <script src="{% static "../static/script/script.js" %}"></script>
    <title>Jmonds | Klassiker Eheringe</title>
</head>
<body>
<header>
    <div class="header__elem-wrapper banner-wrapper">
        <div>
           <a href="{%  url 'landing-page' %}"><img src="{% static "assets/logos/Jmonds_logo_ecoFair.png" %}" alt="JMONDS - Eco & Fair"></a>
        </div>
        <div class="elem-wrapper__icon-wrapper">
            <form id="search-container" method="POST">
                {% csrf_token %}
                <label for="searchbar">Suche</label>
                <select name="search-type" id="search-select">
                    <option value="info" disabled>Suchen nach:</option>
                    <option value="default" selected>Name, SDK</option>
                    <option value="size">Ringbreite</option>
                    <option value="rating">Bewertung</option>
                </select>
                <div class="select-icon-preview">
                    <img class="sip-star" src="{% static "assets/icons/star.png" %}" alt="">
                    <img class="sip-size" src="{% static "assets/icons/circle.png" %}" alt="">
                </div>
                <input type="text" placeholder="Suche" name="search_input" id="searchbar">
                <button type="submit"><img src="{% static "assets/icons/search.png" %}" alt="Suchen"></button>
            </form>
            {% if user.is_authenticated %}
                {% block logged_in_content %}
                    <a href="{% url 'landing-page' %}"><img src="{% static "assets/icons/home.png" %}" alt="Profil"></a>
                {% endblock %}
            {% else %}
                {% block not_logged_in_content %}
                    <a href="{% url 'login' %}"><img src="{% static "assets/icons/user.png" %}" alt="Login"></a>
                {% endblock %}
            {% endif %}
            <a href="{% url 'cart-show' %}"><img src="{% static "assets/icons/shopping-bag.png" %}" alt="Cart"></a>
        </div>
    </div>
    <div class="header__navbar">
        <ul>
            <li><a href="{% url 'ring-list' query='Gelbgold' %}">Gelbgold</a></li>
            <li><a href="{% url 'ring-list' query='Weißgold' %}">Weißgold</a></li>
            <li><a href="{% url 'ring-list' query='Rosegold' %}">Rosegold</a></li>
        </ul>
    </div>
</header>
<main>
    {% block bodyContent %}Base Block{% endblock %}
</main>
</body>
</html>
