{% extends 'base.html' %}
{% load static %}

{% block bodyContent %}
    <div id="main-banner">
        <div class="text-wrapper">
            <img src="{% static "assets/icons/jmonds_border_frame.png" %}" alt="Eco & Fair">
            <h2>Jmonds Klassiker</h2>
            <a href="{% url 'ring-list' query='Klassiker' %}">Modelle Entdecken</a>
        </div>
        <img src="{% static "assets/banner/jmonds-banner-klassiker-gg.png" %}" alt="Gelbgold Klassiker">
    </div>
    <div id="triple-banner-container">
        <a class="banner-wrapper" href="{% url 'ring-list' query='Weißgold' %}">
            <h3>Weiß</h3>
            <img src="{% static "assets/banner/jmonds-banner-klassiker-wg.png" %}" alt="Weissgold Klassiker">
        </a>
        <a class="banner-wrapper" href="{% url 'ring-list' query='Gelbgold' %}">
            <h3>Gelb</h3>
            <img src="{% static "assets/banner/jmonds-banner-klassiker-gg.png" %}" alt="Gelbgold Klassiker">
        </a>
        <a class="banner-wrapper" href="{% url 'ring-list' query='Rosegold' %}">
            <h3>Rose</h3>
            <img src="{% static "assets/banner/jmonds-banner-klassiker-rg.png" %}" alt="Rosegold Klassiker">
        </a>
    </div>
{% endblock %}
